body {
background:#fff;
color:#000;
width:400px;
min-height:200px;
font:12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input {
margin:0;
padding:0;
}

h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {
font-size:1em;
font-weight:400;
font-style:normal;
}

ul,ol {
list-style:none;
}

fieldset,img {
border:none;
}

caption,th {
text-align:left;
}

table {
border-collapse:collapse;
border-spacing:0;
}

.clear {
clear:both;
}

.clearer {
clear:both;
display:block;
height:0;
line-height:1px;
font-size:1px;
margin:0;
padding:0;
}

.right {
float:right;
}

a {
color:#9fcf67;
cursor:hand;
}

a:link,a:visited,a:active {
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

a,a:active,a:focus {
outline-style:none;
outline-width:0;
}

strong,b {
font-weight:700;
}

em,i {
font-style:italic;
}

sup {
padding-left:1px;
font-size:10px !important;
font-weight:400 !important;
vertical-align:baseline;
position:relative;
bottom:0.33em;
color:#76797c;
_position:static !important;
}

p {
margin-bottom:18px;
}

h1 {
font-weight:700;
font-size:20px;
line-height:36px;
color:#FFF;
text-align:center;
background:#6FA842;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #000;
margin:0 0 5px;
padding:2px;
}

h2 {
font-weight:700;
font-size:30px;
line-height:48px;
}

h3 {
font-weight:700;
font-size:26px;
line-height:35px;
}

h4 {
font-weight:700;
font-size:15px;
line-height:18px;
color:#559cbe;
}

.title {
font-size:15px;
color:#333;
}

#deal-container {
margin:5px;
}

.deal-image {
width:100px;
height:100px;
background:#ccc;
float:right;
}

.left,.deal-info {
float:left;
}